body, html {
  font-size: 16px;
  height: 100%; }

.nav-avatar-img {
  width: 1.3rem; }

.nav-logo-img {
  width: 6rem; }

.assignment-header .assignment-due-date, .assignment-header .assignment-grade {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 0.8rem; }

.assignment-header .assignment-due-date {
  color: #7d7d7d; }

.question-item .question-item__name h5 {
  padding-left: 1rem; }

.question-item .question-item__name, .question-item .question-item__grade {
  font-size: 0.8rem; }

.completed-marker {
  color: #07e000; }

.incomplete-marker {
  color: black; }

.outstanding-marker {
  color: red; }

.content-container {
  background-color: #dfdfdf;
  height: 100%; }

.page-top-padding {
  padding-top: 5rem; }

.assignment-reminder-item {
  color: inherit; }
  .assignment-reminder-item > div {
    border-radius: 2px;
    transition: all 0.1s;
    margin-bottom: 0.5rem; }
  .assignment-reminder-item:hover {
    color: inherit;
    text-decoration: none; }
    .assignment-reminder-item:hover > div {
      background-color: #c2c0c0;
      transition: all 0.1s; }

.sidenav {
  background-color: #f1f1f1; }

.quick-link {
  font-size: 1.2rem; }

.info-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; }

.avatar-image {
  width: 50%; }

.question-editor {
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #8888883d;
  height: 85vh;
  padding-left: 0px;
  padding-right: 0px;
  cursor: crosshair; }

.question-editor__toolbar {
  border: 1px solid #a1a1a1;
  width: 100%;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  cursor: default; }
  .question-editor__toolbar i {
    font-size: 1.2rem;
    color: #383838;
    transition: all 0.3s;
    padding-right: 0.1rem;
    padding-left: 0.1rem; }
    .question-editor__toolbar i:hover {
      color: #9e9e9e;
      transition: all 0.3s;
      cursor: pointer; }
  .question-editor__toolbar .break {
    margin-right: 1.3rem; }
