// Write sass stylings here

$clr: red;

body, html {
    font-size: 16px;
    height: 100%;
}

.page-container {
    // background-color: rgb(172, 172, 172);
}

.page-header {
    //padding-top: 50px;
}

.assignment-header {
    // Vertical align text
    & .assignment-due-date, & .assignment-grade {
        text-align: center;
        display: flex;
        align-items: center;

        font-size: 0.8rem;
    }
    
    & .assignment-due-date {
        color: #7d7d7d
    }
}

.question-item {
    & .question-item__name h5 {
        padding-left: 1rem;
    }

    & .question-item__name, & .question-item__grade {
        font-size: 0.8rem;
    }
}


// Marker stylings

.completed-marker {
    color: #07e000;
}

.incomplete-marker {
    color: black;
}

.outstanding-marker {
    color: red;
}





// Home page

.content-container {
    background-color: #dfdfdf;
    height: 100%;
}


.page-top-padding {
    padding-top: 5rem;
}

.assignment-reminder-item {
    & > div {
        // background-color: white;
        border-radius: 2px;
        transition: all 0.1s;

        margin-bottom: 0.5rem;
    }

    color: inherit;

    &:hover {
        & > div {
            background-color: #c2c0c0;
            transition: all 0.1s;
        }
    
        color: inherit;
        text-decoration: none;
    }
}

.sidenav {
    background-color: #f1f1f1;
}

.quick-link {
    font-size: 1.2rem;
}


// Account page
.info-text {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


// Question editor
.question-editor {
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    box-shadow: 5px 5px 10px #8888883d;

    height: 85vh;

    padding-left: 0px;
    padding-right: 0px;

    cursor: crosshair
}

.question-editor__toolbar {
    border: 1px solid #a1a1a1;

    width: 100%;
    // height: 2.5rem;

    display: inline-block;

    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    cursor: default;

    & i {
        &:hover {
            color: #9e9e9e;

            transition: all 0.3s;
            cursor: pointer;
        }
    
        font-size: 1.2rem;
    
        color: #383838;
        transition: all 0.3s;
    
        padding-right: 0.1rem;
        padding-left: 0.1rem;

        
    }
    & .break {
        margin-right: 0.8rem;
    }
}
