// Write sass stylings here

$clr: red;

body, html {
    font-size: 16px;
    height: 100%;
}

.page-container {
    // background-color: rgb(172, 172, 172);
}

.page-header {
    //padding-top: 50px;
}

.assignment-header {
    // Vertical align text
    & .assignment-due-date, & .assignment-grade {
        text-align: center;
        display: flex;
        align-items: center;

        font-size: 0.8rem;
    }
    
    & .assignment-due-date {
        color: #7d7d7d
    }
}

.question-item {
    & .question-item__name h5 {
        padding-left: 1rem;
    }

    & .question-item__name, & .question-item__grade {
        font-size: 0.8rem;
    }
}


// Marker stylings

.completed-marker {
    color: #07e000;
}

.incomplete-marker {
    color: black;
}

.outstanding-marker {
    color: red;
}





// Home page

.content-container {
    background-color: #dfdfdf;
    height: 100%;
}


.page-top-padding {
    padding-top: 5rem;
}

.assignment-reminder-item {
    & > div {
        // background-color: white;
        border-radius: 2px;
        transition: all 0.1s;

        margin-bottom: 0.5rem;
    }

    color: inherit;

    &:hover {
        & > div {
            background-color: #c2c0c0;
            transition: all 0.1s;
        }
    
        color: inherit;
        text-decoration: none;
    }
}

.sidenav {
    background-color: #f1f1f1;
}